<%# Форма для создания/правки объявления %>
<div class="row">
  <div class="col-md-4 my-4">
    <div class="form">
      <%= form_with model: ad do |f| %>
        <%= render partial: 'partials/form_errors', locals: {model: ad} %>

        <div class="form-field">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-field">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', placeholder: t('.placeholder_info') %>
        </div>

        <div class="form-field">
          <%= f.label :tags %>
        </div>

        <%#
          collection_select – через дропдаун выбираем тэги
          tag_ids – название поля
          ad.tags – передадим коллекцию
          id – метод при отображении id в разметке
          name – то что видет пользователь
        %>
        <div class="form-field">
          <%= f.collection_select :tag_ids, ad.tags, :id, :name, {}, multiple: true,
                                  class: 'js-multiple-select js-ajax-select w-100', data: {'ajax-url': '/api/tags'} %>
        </div>

        <div class="field">
          <%= f.label :images %>
          <% ad.images.each do |image| %>
            <p><%= image_tag image.variant resize: "100x100" %></p>
            <%= link_to t('.delete_image'), purge_attachment_path(image),method: :delete %><br /><br />
          <% end %>
          <%= f.file_field :images, multiple: true %>
        </div>

        <div class="form-field">
          <%= f.label :life_cycle %>
          <%= f.select(:life_cycle, options_for_select([['approved'], ['rejected']], ad.life_cycle),
                       {include_blank: true}, class: 'form-control') %>
        </div>

        <div class="form-action mt-4">
          <%= f.submit t '.save' %>
          <%= t '.or' %>
          <%= link_to t('ads.back'), :back %>
        </div>
      <% end %>
    </div>
  </div>
</div>
