<%# Форма для создания/правки объявления %>
<div class="row">
  <div class="col-md-4">
    <div class="form">
      <%#= form_for @ad, html: { multipart: true } do |f| %>
      <%= form_with model: @ad do |f| %>
        <%= render partial: 'partials/form_errors', locals: {model: @ad} %>

        <div class="form-field">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-field">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', placeholder: t('views.ads.form.placeholder_info') %>
        </div>

        <div class="form-field">
          <%= f.label :tags %>
        </div>

        <div class="form-field">
          <%= f.collection_select :tag_ids, tags, :id, :name, {}, multiple: true,
                                  class: 'js-multiple-select js-ajax-select w-100' %>
        </div>


        <div class="form-field">
          <%= f.label :life_cycle %>
          <%= f.select(:life_cycle, options_for_select([['approved'], ['rejected']], @ad.life_cycle), {include_blank: true}, class: 'form-control') %>
        </div>

        <div class="form-action buffer-both">
          <%= f.submit t('views.ads.form.save'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <%# Форма для добавления новой фотографии %>
    <%#= render partial: 'photos/form', locals: {photo: @new_photo || @ad.photos.build} %>
  </div>

  <div class="col-md-4">
    <%# Все фотографии объявления %>
    <%#= render partial: 'photos/photo', collection: @ad.photos.except(@new_photo) %>
  </div>
</div>
