<!--Форма для создания/правки объявления-->
<div class="form">
  <%= form_for(@ad) do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @ad} %>

    <div class="form-field">
      <%= f.label :title, class: 'form-label' %>
      <%= f.text_field :title %>
    </div>

    <div class="form-field">
      <%= f.label :body, class: 'form-label' %>
      <%= f.text_area :body, class: 'form-textarea', placeholder: t('views.ads.form.placeholder_info') %>
    </div>

    <div class="form-field">
      <%= f.label :type_ad, class: 'form-label' %>
      <%= f.text_field :type_ad, placeholder: '#tag' %>
    </div>

    <div class="form-field">
      <%= f.label :life_cycle, class: 'form-label' %>
      <%= f.select(:life_cycle, options_for_select([['approved'], ['rejected']], @ad.life_cycle), {include_blank: true}) %>
    </div>

    <div class="form-action buffer-both">
      <%= f.submit t('views.ads.form.save'), class: 'button button-dark button-small' %>
      <%= t('views.ads.form.or') %>
      <%= link_to t('views.ads.form.back'), :back %>
    </div>
  <% end %>
</div>
