<% if current_user.present? %>
  <form class=" buffer-bottom">
    <h2><%= t '.found_tags' %></h2>

    <%= form_with url: ads_path, method: :get do |f| %>
      <%= f.collection_select :tag_ids, (@tags || []), :id, :name, {selected: params[:tag_ids]},
                              multiple: true, required: true %><br />

      <button>
        <%= f.submit t '.search', class: 'btn btn-outline-success' %>
      </button>
    <% end %>
  </form>
<% end %>

<%# Пагинация %>
<div class="text-center">
  <%= paginate @ads_all if @ads_all.total_pages > 1 %>
</div>

<div class="column-1-6">
  <div class="ads-list">
    <%# Рендерим сразу массив объявлений, каждый в паршиале 'ads/ad' %>
    <%= render @ads_all %>
  </div>
</div>

<%# Пагинация %>
<div class="text-center">
  <%= paginate @ads_all if @ads_all.total_pages > 1 %>
</div>
