<%# Страница объявления %>
<div class="row ">
  <div class="ad ad-content col-md-12 shadow">
    <div class="text-lg">
      <%= @ad.title %>
    </div>

    <div class="text-md my-4">
      <%= @ad.body %>
    </div>

    <%# Все фотографии объявления %>
    <div class="col-md-6 my-2">
      <% if @ad.images.attached? %>
        <% @ad.images.each do |image| %>
          <% if image.image? %>
            <div class="d-inline-block">
              <%=link_to image_tag(image.variant resize: "100x100"), image %><br />
            </div>
          <% else %>
            <%= link_to image.filename, rails_blob_path(image, disposition: "attachment") %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%# Только владелец может править %>
    <% if current_user_can_edit?(@ad) %>
      <div class="my-4">
        <%= link_to t('.edit'), edit_ad_path(@ad), class: 'btn btn-outline-warning btn-sm' %>
        <%= link_to t('.delete'), ad_path(@ad),
                    method: :delete, data: {confirm: t('.confirm_delete')}, class: 'btn btn-outline-danger btn-sm' %>
      </div>

      <%# Выводим статус %>
      <div class="my-1 text-muted">
        <%= @ad.status %>
      </div>
    <% end %>

    <%# Показываем только для владельца объявления, ссылка назад в свой профиль %>
    <% if policy(@ad).show? %>
      <%= link_to t('ads.back'), user_path(current_user) %>
    <% end %>
  </div>
</div>
