<div class="text-lead user-ads buffer-both">
  <%= @ad.title %>
</div>

<div class="ad ads-list buffer-both">
  <%= @ad.body %>
</div>

<div>
  <%= @ad.life_cycle %>
</div>

<% if current_user_can_edit?(@ad) %>
  <div class="display-inline">
    <div class="content-left">
      <%= @ad.tags.map { |h| link_to "##{h.name}", tag_path(h) }.join(', ').html_safe %>
    </div>
    <div class="content-right">
      <%= link_to fa_icon('pencil'), edit_ad_path(@ad) %>
      <%= link_to fa_icon('trash-o'), ad_path(@ad),
             method: :delete, data: {confirm: t('views.ads.show.confirm_delete')} %>
    </div>
  </div>
<% end %>
