<%# Страница объявления %>
<div class="row ">
  <div class="ad ad-content col-md-12 shadow">
    <div class="text-lg">
      <%= @ad.title %>
    </div>

    <div class="text-md buffer-both">
      <%= @ad.body %>
    </div>

    <div class="col-md-6">
      <%# Все фотографии объявления %>
      <% @ad.photos.each do |photo| %>
        <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url if photo.photo? %>
      <% end %>
    </div>

    <% if current_user_can_edit?(@ad) %>
      <%= link_to t('views.ads.show.edit'), edit_ad_path(@ad), class: 'btn btn-warning' %>
      <%= link_to t('views.ads.show.delete'), ad_path(@ad),
    method: :delete, data: {confirm: t('views.ads.show.confirm_delete')}, class: 'btn btn-danger' %>

      <div class="buffer-top">
        <%= @ad.life_cycle %>
      </div>

      <div class="buffer-both">
        <%= @ad.tags.map { |h| link_to "##{h.name}", tag_path(h) }.join(', ').html_safe %>
      </div>
    <% end %>

    <%= link_to t('views.ads.show.back'), :back %>
  </div>
</div>
