<h2><%= t '.resend_unlock_instructions' %></h2>

<div class="row">
  <div class="col-md-4 mt-2">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions my-4">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>

    <div class="my-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
