<!--Форма пользователя-->
<%= form_for @user, html: {multipart: true} do |f| %>

  <div class="field">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username, class: 'form-label' %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :role, class: 'form-label' %>
    <%= f.select(:role, options_for_select([['admin'], ['user']], @user.role), {include_blank: true}) %>
  </div>
  <div class="actions buffer-both">
    <%= f.submit t('views.users.form.save'), class: 'button button-dark button-small' %>
    <%= t('views.users.form.or') %>
    <%= link_to t('views.users.form.back'), @user %><br>
  </div>
<% end %>
