<!--Форма пользователя-->
<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="field">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username, class: 'form-label' %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :role, class: 'form-label' %>
    <%= f.select(:role, options_for_select([['admin'], ['user'], ['guest']]), {include_blank: true}) %>
  </div>
  <div class="actions buffer-both">
    <%= f.submit 'Сохранить', class: 'button button-dark button-small' %>
    или
    <%= link_to 'Назад', @user %><br>
    <p class="buffer-top"><%= link_to 'Удалить профиль', @user, method: :delete, data: { confirm: 'Вы уверены?' } %></p>
  </div>
<% end %>
