<%# Форма пользователя %>
<%= form_for @user, html: {multipart: true} do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, options_for_select([['admin'], ['user']], @user.role), {include_blank: true}, class: 'form-control') %>
  </div>
  <div class="actions buffer-both">
    <%= f.submit t('views.users.form.save'), class: 'btn btn-success' %>
    <%= t('views.users.form.or') %>
    <%= link_to t('views.users.form.back'), @user %><br>
  </div>
<% end %>
