<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.role %></td>
      <td class="button"><%= link_to 'На главную', root_path %></td>
      <% if @user == current_user %>
        <td class="button"><%= link_to 'Редактировать', edit_user_path(@user) %></td>
      <% end %>
    </tr>
  </tbody>
</table><br>

<!--ссылка создания объявления пользователя-->
<div class="buffer-both">
  <%= link_to 'Создать объявление', new_ad_path, class: 'btn btn-success' %>
</div>

<!--вывод всех объявлений пользователя-->
<% if @user.ads.any? %>
  <div class="user-ads buffer-both">
    <div class="ads-list">
      <%= render partial: 'ads/ad', collection: @user.ads %>
    </div>
  </div>
<% else %>
  <p class="buffer-top">Пользователь пока не создал объявление</p>
<% end %>
