<%# Страница пользователя %>
<table class="table">
  <thead>
  <tr>
    <th><%= t '.name' %></th>
    <th><%= t '.username' %></th>
    <th><%= t '.email'%></th>
    <th><%= t '.role' %></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.role %></td>
    </tr>
  </tbody>
</table><br>

<div class="my-4">
  <%= link_to t('.root'), root_path, class: 'btn btn-outline-secondary' %>

  <% if @user == current_user %>
    <%= link_to t('.edit_user'), edit_user_path(@user), class: 'btn btn-outline-secondary' %>

    <%# Ссылку создать объявление админ не видит %>
    <% if policy(@user).admin_forbidden? %>
      <%= link_to t('.create_ad'), new_ad_path, class: 'btn btn-outline-success' %>
    <% end %>

    <div class="my-4 text-muted">
      <%= t '.my_ads' %>
    </div>
  <% end %>
</div>

<%# Вывод всех объявлений пользователя, если они есть %>
<% if @ads.any? %>
  <%= render partial: 'ads/ad', collection: @ads %>
<% else %>
  <p class="my-4">
    <%= t '.info' %>
  </p>
<% end %>
