<table>
  <thead>
  <tr>
    <th><%= t('views.users.show.name') %></th>
    <th><%= t('views.users.show.username') %></th>
    <th><%= t('views.users.show.email') %></th>
    <th><%= t('views.users.show.role') %></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.role %></td>
      <td class="button"><%= link_to t('views.users.show.root'), root_path %></td>
      <% if @user == current_user %>
        <td class="button"><%= link_to t('views.users.show.edit'), edit_user_path(@user) %></td>
      <% end %>
    </tr>
  </tbody>
</table><br>

<!--ссылка создания объявления пользователя-->
<div class="buffer-both">
  <%= link_to t('views.users.show.create_ad'), new_ad_path, class: 'btn btn-success' %>
</div>

<!--вывод всех объявлений пользователя-->
<% if @user.ads.any? %>
  <div class="user-ads buffer-both">
    <div class="ads-list">
      <%= render partial: 'ads/ad', collection: @user.ads %>
    </div>
  </div>
<% else %>
  <p class="buffer-top">
    <%= t('views.users.show.info') %>
  </p>
<% end %>
