<%# Страница пользователя %>
<table class="table">
  <thead>
  <tr>
    <th><%= t '.name' %></th>
    <th><%= t '.username' %></th>
    <th><%= t '.email'%></th>
    <th><%= t '.role' %></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.role %></td>
    </tr>
  </tbody>
</table><br>

<div class="my-4">
  <% if @user == current_user %>
      <%= link_to t('.edit_user'), edit_user_path(@user), class: 'btn btn-outline-secondary' %>
  <% end %>
  <%= link_to t('.root'), root_path, class: 'btn btn-outline-secondary' %><br>
</div>

<%# Ссылка создания объявления пользователя с проверкой через pundit %>
<div>
  <% if policy(Ad).create? %>
    <%= link_to t('.create_ad'), new_ad_path, class: 'btn btn-outline-success' %>
  <% end %>
</div>

<div class="my-4 text-muted">
  <% if @user == current_user %>
    <%= t '.my_ads' %>
  <% end %>
</div>

<%# Вывод всех объявлений пользователя %>
<% if @ads.any? %>
  <%= render partial: 'ads/ad', collection: @ads %>
<% else %>
  <p class="my-4">
    <%= t '.info' %>
  </p>
<% end %>
