<%# Страница пользователя %>
<table class="table">
  <thead>
  <tr>
    <th><%= t('views.users.show.name') %></th>
    <th><%= t('views.users.show.username') %></th>
    <th><%= t('views.users.show.email') %></th>
    <th><%= t('views.users.show.role') %></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.role %></td>
    </tr>
  </tbody>
</table><br>

<% if @user == current_user %>
    <%= link_to t('views.users.show.edit_user'), edit_user_path(@user), class: 'btn btn-default' %>
<% end %>
  <%= link_to t('views.users.show.root'), root_path, class: 'btn btn-default' %><br>

<%# Ссылка создания объявления пользователя с проверкой через pundit %>
<% if policy(Ad).create? %>
  <%= link_to t('views.users.show.create_ad'), new_ad_path, class: 'buffer-top btn btn-success' %>
<% end %>

<div class="text-lg buffer-both">
  <% if @user == current_user %>
    <%= t('views.users.show.my_ads') %>
  <% end %>
</div>

<%# Вывод всех объявлений пользователя %>
<% if @user.ads.any? %>
  <%= render partial: 'ads/ad', collection: @user.ads.order(created_at: :desc), class: 'buffer-both' %>
<% else %>
  <p class="buffer-top">
    <%= t('views.users.show.info') %>
  </p>
<% end %>
