<%# Админ форма для редактирования объявления %>
<%= form_with model: [:admin, ad] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: ad} %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :status %>
    </div>

    <%# ad_statuses – метод находиться helpers/admin/ads_helper.rb %>
    <div class="col-sm-4">
      <%= f.select :status, ad_statuses, {}, class: 'form-select form-select-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= t '.all_ad_tags' %>
    </div>

    <div class="shadow p-4 bg-white rounded ml-4 pr-4">
      <%= render partial: 'tags/tag', collection: ad.tags %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-4 col-form-label">
      <%= f.label t '.add_remove_tags' %>
    </div>

    <%#
            collection_select – через дропдаун выбираем тэги
            tag_ids – название поля
            ad.tags – передадим коллекцию
            id – метод при отображении id в разметке
            name – то что видет пользователь
    %>
    <div class="form-field">
      <%= f.collection_select :tag_ids, ad.tags, :id, :name, {}, multiple: true,
                              class: 'js-multiple-select js-ajax-select w-100', data: {'ajax-url': '/api/tags'} %>
    </div>
  </div>

  <div class="container">
    <div class="row col-sm-2">
      <%= f.submit t('.save'), class: 'btn btn-outline-primary' %>
    </div>

    <div class="row col-sm-2 py-4">
      <%= link_to t('.back'), admin_ads_path %>
    </div>
  </div>
<% end %>
