<%# Главная страница админки %>
<h1 class="mb-4"><%= t('.user_management') %></h1>
<div class="text-md my-4"><%= t '.count_users', count: @users.count %></div>

<% scope = 'activerecord.attributes.user' %>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col"><%= t '.hash' %></th>
    <th scope="col"><%= t '.name' %></th>
    <th scope="col"><%= t '.email' %></th>
    <th scope="col"><%= t '.created_at' %></th>
    <th scope="col"><%= t '.updated_at' %></th>
    <th scope="col"><%= t 'role', scope: scope %></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>
