<div class="text-md"><%= t '.count_users' %></div>
<%= @users.count %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col"><%= t '.hash' %></th>
    <th scope="col"><%= t '.name' %></th>
    <th scope="col"><%= t '.email' %></th>
    <th scope="col"><%= t '.created_at' %></th>
    <th scope="col"><%= t '.updated_at' %></th>
    <th scope="col"><%= t '.role' %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>
