<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.tab_title') %></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
            type="text/javascript"></script>
    <![endif]-->
  </head>

  <body>
  <div class="content">
    <h1 class="title-large text-center"><%= link_to t('app.name'), root_path  %></h1>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to t('app.profile'), current_user %></li><br>
        <li><%= link_to t('app.sign_out'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('app.sign_in'), new_user_session_path %></li><br>
<!--        <li><%#= link_to t('app.register'), new_user_registration_path %></li>-->
      <% end %>
    </ul>

<!--        Показ уведомлений-->
    <% if flash.any? %>
        <% flash.each do |name, message| %>
          <%= content_tag :p, message, class: "flash-#{name}" %>
        <% end %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
