<!DOCTYPE html>
<html>
  <head>
    <title>Ads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content">
    <h1 class="title-large text-center"><%= link_to t('app.name'), root_path  %></h1>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to t('app.profile'), current_user %></li><br>
        <li><%= link_to t('app.sign_out'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('app.sign_in'), new_user_session_path %></li><br>
<!--        <li><%#= link_to t('app.register'), new_user_registration_path %></li>-->
      <% end %>
    </ul>
    <%= yield %>
  </div>
  </body>
</html>
