<!DOCTYPE html>
<html>
  <head>
    <title>Ads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content">
    <h1 class="title-large text-center"><%= link_to 'Объявления', root_path  %></h1>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Профиль', current_user %></li>
        <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Войти', new_user_session_path %></li>
        <li><%= link_to 'Зарегестрироваться', new_user_registration_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </div>
  </body>
</html>
