<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('app.tab_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="/">Ads</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to t('app.profile'), current_user %></li>
              <li><%= link_to t('app.sign_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t('app.sign_in'), new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%#= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <footer class="text-center buffer-top">
        <p>&copy; Company 2021</p>
      </footer>
    </div>
  </body>
</html>
