<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('app.tab_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="/">Ads</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to t('app.profile'), current_user %></li>
              <li><%= link_to t('app.sign_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t('app.sign_in'), new_user_session_path %></li>
            <% end %>
          </ul>

          <%# Вывод локали %>
          <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
            <li class="dropdown">
              <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white',
                          data: {"bs-toggle": 'dropdown'} do %>
                <%= tag.div '', class: "flag #{I18n.locale}-flag mt-1" %>
                <%= t I18n.locale %>
              <% end %>

              <%# Выбор локали %>
              <ul class="dropdown-menu">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <%# Если локаль = текущей локали отображаем локаль %>
                    <% if I18n.locale == locale %>
                      <%= tag.span t(locale), class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to t(locale), root_path(locale: locale),
                                  class: 'dropdown-item' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%# Вывод уведомлений для пользователя %>
          <% flash.each do |k,v| %>
            <%= tag.div v, class: " alert alert-#{k}", role: 'alert' %>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <footer class="text-center buffer-top">
        <p>&copy; Company 2021</p>
      </footer>
    </div>
  </body>
</html>
